@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-table-thead {
  .ant-table-cell {
    background-color: #2196f3 !important;
  }
}

.ant-table-thead .ant-table-cell .ant-table-filter-column .ant-table-filter-trigger.active {
  color: black !important;
}

p {
  margin: 0 !important;
}

.ant-table .ant-table-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-link:focus {
  color: #5295ff !important;
}

.call-logs-table-row {
  height: 80px;
}

.call-logs-table-row-pdf {
  height: 65px;
}

.call-logs-table-row-pdf .ant-table-cell {
  padding: 10px 15px !important;
}

.ant-float-btn-group button {
  height: 60px;
  width: 60px;
}

.ant-float-btn-group .ant-float-btn-group-wrap {
  bottom: 75px !important;
}

.ant-float-btn-group .ant-float-btn-icon {
  font-size: 20px !important;
  width: 20px !important;
}

.missed-call-row {
  background-color: rgba(255, 194, 194, 0.184);
}

.success-call-row {
  background-color: #c8ffc88f;
}

.disabled {
  pointer-events: none; /* Prevents clicks and interactions */
  opacity: 0.4; /* Makes it look disabled */
}

.messenger-float-button .ant-float-btn-icon {
  text-align: center;
  margin: auto;
  width: 30px !important;
  font-size: 25px;
  line-height: 1;
}

@media print {
  .page-break {
    page-break-after: always; /* For older browsers */
    break-after: page; /* Standard way */
  }

  @page {
    padding: 50px 20px;
  }

  /* Specific styling for pages containing .chatLogPrintPage */
  .chatLogPrintPage {
    page: chatLogPage;
  }

  @page chatLogPage {
    padding: 30px;
    margin: 0;
  }

  thead {
    display: table-header-group; /* Ensures proper positioning */
  }

  tfoot {
    display: table-row-group;
  }

  table {
    break-inside: auto; /* Allows the table to break naturally */
  }

  thead,
  tfoot {
    break-inside: avoid;
    break-after: avoid;
  }
}
