@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}
.ant-table-thead {
  .ant-table-cell {
    background-color: #2196f3 !important;
  }
}

.ant-table-thead .ant-table-cell .ant-table-filter-column .ant-table-filter-trigger.active {
  color: black !important;
}

p {
  margin: 0 !important;
}

.ant-table .ant-table-title {
  padding-left: 0 !important;
}

.nav-link:focus {
  color: #5295ff !important;
}

.call-logs-table-row {
  height: 80px;
}

.ant-float-btn-group button {
  height: 60px;
  width: 60px;
}

.ant-float-btn-group .ant-float-btn-group-wrap {
  bottom: 75px !important;
}

.ant-float-btn-group .ant-float-btn-icon {
  font-size: 20px !important;
  width: 20px !important;
}

.missed-call-row {
  background-color: rgba(255, 194, 194, 0.184);
}
